<mat-card>
	<mat-card-title>BufferToggle</mat-card-title>
	<mat-card-subtitle>
		Captura valores de origem enquanto a condição for verdadeira.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. O BufferWhen captura valores enquanto a condição for verdadeira e
			emite uma lista de valores quando a condição for falsa.
		</p>
		<p>
			2. Este operador é muito semelhante ao buffer, mas uma vez que o
			buffer é liberado, ele cancela a assinatura do observável do
			notificador e será reassinado assim que um novo valor chegar.
		</p>
		<p>
			3. Parametro: <strong>closingSelector</strong> - Uma função que não
			recebe argumentos e retorna um Observable que sinaliza o fechamento
			do buffer.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo buffer-when.component.ts e veja o
				código fonte.</strong
			>
		</p>
		<p>
			<img src="assets/buffer-when-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
