<mat-card>
	<mat-card-title>Buffer</mat-card-title>
	<mat-card-subtitle>
		Armazena os valores observáveis de origem até que o closureNotifier seja
		emitido.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. O Buffer armazena os valores enviados e emite uma lista de
			valores quando o número de valores é atingido.
		</p>
		<p>
			2. O Buffer não envia valores que não estão dentro do intervalo de
			tempo especificado.
		</p>
		<p>
			3. Um comportamento interessante do operador de buffer é que ele
			pode enviar um conjunto vazio de valores para o observador se o
			notificador observável emitir um valor e o cache estiver vazio.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo buffer.component.ts e veja o código
				fonte.</strong
			>
		</p>
		<p>
			<img src="assets/buffer-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
