<mat-card>
	<mat-card-title>Audit</mat-card-title>
	<mat-card-subtitle>
		"Audita" ou "filtra" os valores enviados.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. O Audit filtra os valores enviados, mantendo apenas os últimos n
			valores enviados.
		</p>
		<p>
			2. O Audit é um pouco mais complexo que o ReplaySubject, pois ele
			grava os valores enviados e os envia para os observadores.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo audit.component.ts e veja o
				código fonte.</strong
			>
		</p>
		<p>
			<img src="assets/audit-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
