<mat-card>
	<mat-card-title>Behavior Subject</mat-card-title>
	<mat-card-subtitle>
		Um Behavior Subject é um Subject que inicializa seu valor com o último
		valor enviado.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. Em um Behavior Subject, o primeiro valor enviado é o valor
			inicial.
		</p>
		<p>
			2. Quando um novo valor é enviado, o Behavior Subject retorna o novo
			valor, e os Observadores são notificados.
		</p>
		<p>
			3. O Behavior Subject precisa, obrigatoriamente, iniciar com um
			valor.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo behavior-subject.component.ts e veja o
				código fonte.</strong
			>
		</p>
		<p>
			<img src="assets/behavior-subject-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
