<mat-card>
	<mat-card-title>BufferToggle</mat-card-title>
	<mat-card-subtitle>
		Ative para capturar valores emitidos da fonte, desative para emitir
		valores em buffer como array.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1.O BufferToggle armazena os valores enviados e emite uma lista de
			valores quando o número de valores é atingido.
		</p>
		<p>
			2. Parametro: <strong>openings</strong> - Um Subscrible ou Promise
			de notificações para iniciar novos buffers.
		</p>
		<p>
			3. Parametro: <strong>closingSelector</strong> - Uma função que pega
			o valor emitido pelos observables abertos e retorna um subscrible ou
			Promise, que, ao emitir, sinaliza que o buffer associado deve ser
			emitido e limpo.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo buffer-toggle.component.ts e veja o
				código fonte.</strong
			>
		</p>
		<p>
			<img src="assets/buffer-toggle-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
