<h1>Programação reativa - Estudo dos operadores do RXJS</h1>

<ul>
	<li><strong><a [routerLink]="['observable']">Observable</a></strong> -> é um objeto que pode emitir eventos</li>
	<li><strong>Observer</strong> -> é um objeto que pode receber eventos</li>
	<li><strong>Subject</strong> -> é um objeto que pode emitir e receber eventos</li>
	<li>
		<strong>Subscription</strong> -> é um objeto que pode ser usado para cancelar a
		assinatura de um Observable
	</li>
</ul>

<ul>
	<li>
		<a [routerLink]="['observable']">Home</a>
	</li>
	<li>
		<a [routerLink]="['/']">Home</a>
	</li>
</ul>
<hr>
<router-outlet></router-outlet>
