<mat-toolbar color="primary">
	<span>RXJS</span>

	<span>
		<mat-form-field>
			<mat-select
				[(value)]="defaultSelected"
				(valueChange)="selectRXJS($event)"
			>
				<mat-option [value]="item.route" *ngFor="let item of items">{{
					item.name
				}}</mat-option>
			</mat-select>
		</mat-form-field>
	</span>

	<form>
		<mat-form-field class="example-full-width">
			<input
				type="text"
				matInput
				[formControl]="myControl"
				[matAutocomplete]="auto"
			/>
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectOption($event)">
				<mat-option
					*ngFor="let option of filteredOptions | async"
					[value]="option"
				>
					{{ option.name }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<mat-icon>search</mat-icon>
	</form>
</mat-toolbar>

<router-outlet></router-outlet>
