<mat-card>
	<mat-card-title>Observable</mat-card-title>
	<mat-card-subtitle>Objeto que pode emitir eventos</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. Observable é uma funcionalidade da biblioteca rxjs, que é
			utilizada internamente pelo framework e já é instalada quando você
			cria uma nova aplicação Angular. Com Observables, conseguimos lidar
			com transferência de dados assíncrona. Muitas vezes, seu uso é
			semelhante ao de Promises do Javascript, porém, podendo ser uma
			fonte de transferência de dados contínua, ou seja, o Observable
			poderá emitir dados várias vezes em momentos distintos de sua
			existência.
		</p>
		<p>
			2. Observables são uma forma de comunicação entre componentes,
			serviços e outros Observables.
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
