<mat-card>
	<mat-card-title>Subscription</mat-card-title>
	<mat-card-subtitle
		>Objeto que armazena uma assinatura de um Observable</mat-card-subtitle
	>
	<mat-card-content>
		<p>
			1. O objeto Subscription armazena uma assinatura de um Observable.
			Quando o Observable é finalizado, a assinatura é cancelada.
		</p>
		<p>
			2. Um subscription tem um método importante, unsubscribe, que não
			aceita argumentos e apenas descarta o recurso retido pela
			subscription.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo subscription.component.ts e veja o código
				fonte.</strong
			>
		</p>
		<p>
			<img src="assets/subscription-1.png" alt="" />
		</p>
		<p>
			<img src="assets/subscription-2.png" alt="" />
		</p>
		<p>
			<img src="assets/subscription-3.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
