<mat-card>
	<mat-card-title>BufferTime</mat-card-title>
	<mat-card-subtitle>
		Armazena os valores observáveis de origem até que o tempo atinga o
		bufferTime máximo fornecido.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. Coleta valores do passado como um array e emite esse array
			somente quando o tempo atinge bufferTime.
		</p>
		<p>
			2. bufferTime coleta os valores emitidos da fonte observável no
			cache sem passá-los para um observador até que o intervalo de tempo
			especificado decorra (buffer). O buffer então envia os valores
			armazenados em cache como um array, reinicia e inicia o buffer
			novamente até que o intervalo de tempo termine novamente. Esse
			operador é semelhante ao buffer, mas em vez de usar um observável
			para indicação de quando liberar o buffer, ele usa um intervalo de
			tempo. Um comportamento interessante do operador bufferTime é que
			ele pode enviar um array vazio de valores para o observador se o
			intervalo de tempo decorrer enquanto o cache estiver vazio.
		</p>
		<p>
			3. Parametro: <strong>bufferTimeSpan</strong> - A quantidade de tempo para preencher cada array de buffer.
		</p>
		<p>
			4. Parametro: <strong>otherArgs</strong> - type: any[]
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo buffer-count.component.ts e veja o código
				fonte.</strong
			>
		</p>
		<p>
			<img src="assets/buffer-time-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
