<h1>
	Programação reativa - Estudo RXJS (Exemplos no console)
</h1>

<mat-accordion>
	<!--! Observable -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Observable </mat-panel-title>
			<mat-panel-description>
				Objeto que pode emitir eventos
			</mat-panel-description>
		</mat-expansion-panel-header>	
		<p>
			Um Observable é um objeto que pode emitir eventos.
		</p>
		<p>
			<a routerLink="/observable">Clique aqui para ver o exemplo</a>
		</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Observable </mat-panel-title>
			<mat-panel-description>
				Objeto que pode emitir eventos
			</mat-panel-description>
		</mat-expansion-panel-header>	
		<p>
			Um Observable é um objeto que pode emitir eventos.
		</p>
		<p>
			<a routerLink="/observable">Clique aqui para ver o exemplo</a>
		</p>
	</mat-expansion-panel>
</mat-accordion>
