<h1>Programação reativa - Estudo RXJS (Exemplos no console)</h1>

<mat-accordion>
	<!--! Observable -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Observable </mat-panel-title>
			<mat-panel-description>
				Objeto que pode emitir eventos
			</mat-panel-description>
		</mat-expansion-panel-header>
		<p>Um Observable é um objeto que pode emitir eventos.</p>
		<p>
			<a routerLink="/observable">Clique aqui para ver o exemplo</a>
		</p>
	</mat-expansion-panel>

	<!--! Subscription -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Subscription </mat-panel-title>
			<mat-panel-description>
				Objeto que armazena uma assinatura de um Observable
			</mat-panel-description>
		</mat-expansion-panel-header>
		<p>
			O objeto Subscription armazena uma assinatura de um Observable.
			Quando o Observable é finalizado, a assinatura é cancelada.
		</p>
		<p>
			<a routerLink="/subscription">Clique aqui para ver o exemplo</a>
		</p>
	</mat-expansion-panel>

	<!--! Subject -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Subject </mat-panel-title>
			<mat-panel-description>
				Um Subject é um tipo especial de Observable que permite que
				valores sejam disparados para muitos Observadores.
			</mat-panel-description>
		</mat-expansion-panel-header>
		<p>
			Enquanto os Observables simples são unicast (cada Observer inscrito
			possui uma execução independente do Observable), os Subjects são
			multicast. Um Subject é como um Observável, mas pode transmitir para
			muitos Observadores.
		</p>
		<p>
			<a routerLink="/subject">Clique aqui para ver o exemplo</a>
		</p>
	</mat-expansion-panel>

	<!--! Behavior Subject -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Behavior Subject </mat-panel-title>
			<mat-panel-description>
				Um Behavior Subject é um Subject que inicializa seu valor com o
				último valor enviado.
			</mat-panel-description>
		</mat-expansion-panel-header>
		<p>
			Requer um valor inicial e emite o valor atual para novos subscribers.
		</p>
		<p>
			<a routerLink="/behavior-subject">Clique aqui para ver o exemplo</a>
		</p>
	</mat-expansion-panel>
</mat-accordion>
