<mat-card>
	<mat-card-title>AuditTime</mat-card-title>
	<mat-card-subtitle>
		"Audita" ou "filtra" os valores enviados.
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			1. Ignora os valores de origem por milissegundos de duração, em
			seguida, emite o valor mais recente da origem Observável e repete
			esse processo.
		</p>
		<p>
			2. Quando você estiver interessado em ignorar uma fonte observável
			por um determinado período de tempo, poderá usar auditTime.
		</p>
		<p>
			3. AuditTime garante que os valores serão emitidos regularmente, mas
			não com mais frequência do que o intervalo configurado.
		</p>
		<p>
			<strong>Obs.: Abra o console para ver o resultado.</strong>
		</p>
		<p>
			<strong
				>Obs2.: Abra o arquivo audit-time.component.ts e veja o código
				fonte.</strong
			>
		</p>
		<p>
			<img src="assets/audit-time-1.png" alt="" />
		</p>
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button routerLink="/home" mat-button color="primary">Voltar</button>
	</mat-card-actions>
</mat-card>
